.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0;
  flex-wrap: wrap;
  > div {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  ul {
    list-style-type: none;
    padding: 0 0;
    width: 25%;
    li {
      padding-bottom: 6px;
    }
  }
}
